<nav class="navbar">
  <div class="portal-brand">Student Course Portal</div>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="/courses" routerLinkActive="active">Courses (RxJS)</a></li>
    <li><a routerLink="/signals-courses" routerLinkActive="active">Courses (Signals)</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    <li><a routerLink="/enroll" routerLinkActive="active">Enroll</a></li>
    <li><a routerLink="/enroll-reactive" routerLinkActive="active">Reactive Enroll</a></li>
  </ul>
</nav>